.nav
{
    overflow: hidden;
    background-color: #333;
}

.nav a{
    float: left;
    display: block;
    color: yellow;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.nav a:hover{
    background-color: gray;
    color: black;
}

@media screen and (max-width:600px){
    .nav a {
        float:none;
        width:100%;
           display: block;

    }
}